{% load static %}
<!doctype html>
<html class="no-js" lang="RU">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ФС Школа Кредитного Брокера</title>
    <meta name="description"
        content="Экспресс Курсы кредитных брокеров от профессионалов рынка. Поможем стать кредитным брокером с нуля. Интенсивный тренинг, только практические знания.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ФС Школа Кредитного Брокера">
    <meta property="og:description"
        content="Экспресс Курсы кредитных брокеров от профессионалов рынка. Поможем стать кредитным брокером с нуля. Интенсивный тренинг, только практические знания.">
    <meta property="og:url" content="https://school-broker.ru">
    <meta property="og:site_name" content="Финансовые советники">
    <meta property="og:image" content="/thumb.jpg">
    <meta property="og:image:width" content="1186">
    <meta property="og:image:height" content="623">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/meta/favicon-96x96.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/meta/favicon-32x32.jpg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/meta/favicon-16x16.jpg' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/meta/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/meta/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/meta/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/meta/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/meta/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/meta/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/meta/apple-touch-icon-57x57.png' %}">
    <meta name="msapplication-TileColor" content="#25354C">
    <meta name="msapplication-TileImage" content="{% static '/img/meta/mstile-144x144.png' %}">
    <meta name="theme-color" content="#25354C">


    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=cyrillic"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'js/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="page">


    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <div class="header__logo_wrap">
                        <span></span>
                    </div>
                </div>
                <ul class="header__contact">
                    <li><a class="header__contact_email" href="mailto:info@school-broker.ru">info@school-broker.ru</a></li>
                    <li><a class="header__contact_phone" href="tel:+79037928117">+7 (903) 792-81-17</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="footer__row">
                <div class="footer__about">
                    <div class="footer__logo">
                        <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="footer__data">
                        <span>ИП Левшина С.Н.</span>
                        <span>ФС Школа кредитного брокера</span>
                        <span>ИНН 771521758134</span>
                        <br />
                        <span>ОГРН 308770000269372</span>
                        <br />
                        <span>Место нахождения (юридический адрес): <br />
                            127549, г. Москва, ул. Мурановская, д. 12 А, 92
                        </span>
                    </div>
                </div>
                <nav class="footer__nav">
                    <ul>
                        <li><img src="{% static 'img/link.png' %}" alt=""><a href="{% url 'index' %}">Главный сайт</a></li>
                        <li><img src="{% static 'img/link.png' %}" alt=""><a href="https://t.me/fs_School_CB">Наш ТГ Канал</a></li>
                        <li><img src="{% static 'img/link.png' %}" alt=""><a href="https://t.me/credit_school_bot">Наш на ТГ Бот</a></li>
                        <li><img src="{% static 'img/link.png' %}" alt=""><a href="https://taplink.cc/svetlana_fs">Taplink</a></li>
                    </ul>
                </nav>
                <ul class="footer__contact">
                    <li><a class="footer__contact_email" href="mailto:info@school-broker.ru">info@school-broker.ru</a></li>
                    <li><a class="footer__contact_phone" href="tel:+79037928117">+7 (903) 792-81-17</a></li>
                </ul>
                <div class="footer__info">
                    <div class="footer__social">
                        <a href="mailto:info@school-broker.ru" target="_blank">
                            <i>
                                <svg fill="#fff" width="21px" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"
                                    stroke="#fff">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path id="Mail"
                                            d="M58.0034485,8H5.9965506c-3.3136795,0-5.9999995,2.6862001-5.9999995,6v36c0,3.3137016,2.6863203,6,5.9999995,6 h52.006897c3.3137016,0,6-2.6862984,6-6V14C64.0034485,10.6862001,61.3171501,8,58.0034485,8z M62.0034485,49.1108017 L43.084549,30.1919994l18.9188995-12.0555992V49.1108017z M5.9965506,10h52.006897c2.2056007,0,4,1.7943001,4,4v1.7664003 L34.4677505,33.3134003c-1.4902,0.9492989-3.3935013,0.9199982-4.8495998-0.0703011L1.9965508,14.4694996V14 C1.9965508,11.7943001,3.7910507,10,5.9965506,10z M1.9965508,16.8852005L21.182251,29.9251003L1.9965508,49.1108017V16.8852005z M58.0034485,54H5.9965506c-1.6473999,0-3.0638998-1.0021019-3.6760998-2.4278984l20.5199013-20.5200024l5.6547985,3.843401 c1.0859013,0.7383003,2.3418007,1.1083984,3.5995998,1.1083984c1.1953011,0,2.3925018-0.3339996,3.4463005-1.0048981 l5.8423996-3.7230015l20.2961006,20.2961025C61.0673485,52.9978981,59.6508713,54,58.0034485,54z">
                                        </path>
                                    </g>
                                </svg>
                            </i>
                        </a>
                        <a href="https://t.me/vidner" target="_blank">
                            <i>
                                <svg width="21px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    stroke="#fff">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M23.1117 4.49449C23.4296 2.94472 21.9074 1.65683 20.4317 2.227L2.3425 9.21601C0.694517 9.85273 0.621087 12.1572 2.22518 12.8975L6.1645 14.7157L8.03849 21.2746C8.13583 21.6153 8.40618 21.8791 8.74917 21.968C9.09216 22.0568 9.45658 21.9576 9.70712 21.707L12.5938 18.8203L16.6375 21.8531C17.8113 22.7334 19.5019 22.0922 19.7967 20.6549L23.1117 4.49449ZM3.0633 11.0816L21.1525 4.0926L17.8375 20.2531L13.1 16.6999C12.7019 16.4013 12.1448 16.4409 11.7929 16.7928L10.5565 18.0292L10.928 15.9861L18.2071 8.70703C18.5614 8.35278 18.5988 7.79106 18.2947 7.39293C17.9906 6.99479 17.4389 6.88312 17.0039 7.13168L6.95124 12.876L3.0633 11.0816ZM8.17695 14.4791L8.78333 16.6015L9.01614 15.321C9.05253 15.1209 9.14908 14.9366 9.29291 14.7928L11.5128 12.573L8.17695 14.4791Z"
                                            fill="#fff"></path>
                                    </g>
                                </svg> </i>
                        </a>
                        <a href="https://vk.com/ariastark2" target="_blank">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="ico_svg">
                                    <path
                                        d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z" />
                                </svg>
                            </i>
                        </a>
                        <a href="https://tenchat.ru/fs_school_cb?utm_source=5ab75357-1a82-435f-ab60-f8b3b079bb1c2" target="_blank">
                            <i>
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                 width="23px" viewBox="0 0 512.000000 512.000000"
                                 preserveAspectRatio="xMidYMid meet">
                                
                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                fill="#ffffff" stroke="none">
                                <path d="M177 5106 c-66 -24 -111 -61 -142 -117 l-30 -54 0 -2375 0 -2375 31
                                -55 c35 -61 106 -113 171 -124 65 -10 4684 -7 4723 4 65 18 123 63 155 121
                                l30 54 0 2375 0 2375 -31 55 c-35 61 -106 113 -171 124 -21 3 -1086 6 -2368 5
                                -1934 0 -2336 -2 -2368 -13z m2861 -651 c279 -27 648 -93 852 -152 301 -87
                                506 -313 566 -623 93 -474 96 -1018 9 -1501 -42 -236 -105 -362 -246 -494 -97
                                -91 -178 -138 -315 -181 -75 -24 -119 -43 -135 -60 l-24 -26 -3 -344 -3 -344
                                -25 -6 c-14 -4 -33 0 -47 9 -12 8 -164 135 -337 282 -182 154 -336 277 -365
                                291 -49 24 -53 24 -365 24 -316 0 -537 13 -758 45 -269 39 -596 112 -710 159
                                -182 73 -342 237 -419 428 -82 201 -136 747 -114 1137 18 329 65 630 117 754
                                74 175 224 328 398 407 189 86 733 185 1159 210 186 11 568 3 765 -15z"/>
                                <path d="M1704 3712 c-41 -32 -44 -53 -44 -272 l0 -212 34 -34 34 -34 219 0
                                c199 0 221 -2 250 -20 18 -11 35 -30 38 -42 3 -13 6 -265 8 -561 l2 -539 38
                                -34 38 -35 244 3 245 3 27 28 28 27 5 555 5 555 28 27 27 28 234 5 c251 5 253
                                6 282 61 11 22 14 75 14 235 l0 206 -34 34 -34 34 -833 0 c-775 0 -836 -2
                                -855 -18z"/>
                                </g>
                                </svg>
                             
                            </i>
                        </a>
                    </div>
                    <a href="https://telegra.ph/Politika-v-otnoshenii-obrabotki-personalnyh-dannyh-07-23-3" class="footer__privacy" download>Политика
                        конфеденциальности</a>
                </div>
            </div>
        </div>
    </footer>


    <div class="footer_bottom">
        <div class="container">
            <div class="footer_bottom__wrap">
                ФС Школа кредитного брокера занимается консультационной деятельностью по подбору кредитных программ,
                не является кредитной организацией и самостоятельно не выдает кредиты. Пользуясь сайтом, вы соглашаетесь с <a href="{% static 'files/Soglashenie_na_site.docx' %}" download> условиями обработки данных</a>
            </div>
        </div>
    </div>
</div>




<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/vendor/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.data-parallax.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="{% static 'js/vendor/aos/aos.js' %}"></script>
<script src="{% static 'js/vendor/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>

    var scene = document.getElementById('scene1');
    var parallaxInstance = new Parallax(scene);

    var scene2 = document.getElementById('scene2');
    var parallaxInstance2 = new Parallax(scene2);

    var scene3 = document.getElementById('scene3');
    var parallaxInstance3 = new Parallax(scene3);

    var scene4 = document.getElementById('scene4');
    var parallaxInstance4 = new Parallax(scene4);

    

    function scrollToSection() {
        const section = document.getElementById("scrollToSection");
        section.scrollIntoView({
            behavior: "smooth",
            block: "start"
        });
    }
</script>


    
    

</body>

</html>