{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="payment__content">
                <div class="container">
                    <div class="payment__title">
                    <h2>
                        <span>Вы можете приобрести курс в пару кликов</span>
                    </h2>
                    </div>
                    <div class="payment__forms">
                    <form action="" class="payment__form" onsubmit="pay(this); return false;">
                        <input class="payform-tinkoff-row" type="hidden" name="terminalkey" value="TinkoffBankTest">
                        <input class="payform-tinkoff-row" type="hidden" name="frame" value="true">
                        <input class="payform-tinkoff-row" type="hidden" name="language" value="ru"> 

                        <div class="form__left">
                            <input type="text" placeholder="Ваше ФИО" class="form_control clean_input">
                            <input type="email" placeholder="Ваша почта" class="form_control clean_input">
                            <input type="tel" id="phone" name="phone" placeholder="Введите номер телефона" class="form_control clean_input">
                            <select name="course" id="course" class="custom-select">
                                <option value="standart">Стандарт</option>
                                <option value="optimal">Оптимал</option>
                                <option value="vip">VIP</option>
                                <option value="individual">Индивидуально</option>
                                <option value="changejob">Переквалификация</option>
                                <option value="ki">Оптимизация КИ</option>
                                <option value="becomepartner">Стать партнером</option>
                                <option value="upakovka">Цифровая упаковка</option>
                                <option value="fran">Франшиза</option>
                            </select>
                        </div>
                        <div class="form__right">
                            <div class="form__price">
                                Итого: <span id="totalPrice">7 500</span> руб.
                            </div>
                            <div class="form__pay">                          
                                <div class="form__pay-left">
                                    Оплата банковской картой
                                </div>
                                <div class="form__pay-right">
                                    <img src="{% static 'img/tink.svg' %}" alt="" >
                                </div>
                            </div>
                            <button type="submit" class="btn btn_shadow">Подтвердить и перейти к оплате</button>

                            <div class="form__agreement">
                                Нажимая на кнопку подтвердить, вы соглашаетесь с <a href="https://docs.google.com/document/d/160hojoS2Hj2lqD3pty3JGNAw7Z7PsHbNS0-br3i-QK4/edit?usp=sharing">офертой</a>
                            </div>
                            <div class="form__takeback" style="margin-top: 20px;">
                                Вы можете подать <a href="https://docs.google.com/document/d/1c8FXSGsIjXH9cJV0SM5ey2Qfrrz4P0lVEk4iBHGCZk4/edit?usp=sharing">Заявление на возврат средств</a>
                            </div>

                        </div>
                    </form>
    
                 </div>
                </div>
            </section>
{% endblock %}