{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        // Your code here
        const selectElement = document.getElementById('course');
        const totalPriceElement = document.getElementById('totalPrice');
        const amountInput = document.getElementById('amount');
    
        selectElement.addEventListener('change', () => {
            // Update the price based on the selected option
            const selectedOption = selectElement.value;
            let price = 0;
            switch (selectedOption) {
                case 'standart':
                price = 7500;
                break;
                case 'optimal':
                price = 12000;
                break;
                case 'vip':
                price = 25000;
                break;
                case 'individual':
                price = 11000;
                break;
                case 'changejob':
                price = 9500;
                break;
                case 'ki':
                price = 5000;
                break;
                case 'becomepartner':
                price = 10000;
                break;
                case 'upakovka':
                price = 6500;
                break;
                case 'fran':
                price = 8500;
                break;
                case 'primenenie':
                price = 10500;
                break;
                case 'test':
                price = 5;
                break;
                default:
                price = 0;
            }
    
            // Update the displayed price
            totalPriceElement.textContent = price.toLocaleString(); // Format the price with commas
            amountInput.value = price;
        });
    });
    // JavaScript to handle the change event of the select element
  

    function tPayformFunction(target) {
        console.log("Function called"); // Debugging line
        let form = document.forms["payform-tinkoff"];
        let amount = form.amount.value;
        let email = form.email.value;
        let phone = form.phone.value;
    
        if (amount && email && phone) {
            form.receipt.value = JSON.stringify({
                "Email": email,
                "Phone": phone,
                "EmailCompany": "mail@mail.com",
                "Taxation": "patent",
                "Items": [
                    {
                        "Name": "Оплата",
                        "Price": amount + '00',
                        "Quantity": 1.00,
                        "Amount": amount + '00',
                        "PaymentMethod": "full_prepayment",
                        "PaymentObject": "service",
                        "Tax": "none"
                    }
                ]
            });
            pay(form);
        } else {
            alert("Не все обязательные поля заполнены");
        }
        return false;
    }    
  </script>
            <section class="payment__content">
                <div class="container">
                    <div class="payment__title">
                    <h2>
                        <span>Все можете купить в пару кликов по счету</span>
                    </h2>
                    </div>
                    <div class="payment__forms">
                    <form action="" class="payment__form form" name="payform-tinkoff">
                        <input class="payform-tinkoff-row" type="hidden" name="terminalkey" value="1690539261013">
                        <input class="payform-tinkoff-row" type="hidden" name="frame" value="false">
                        <input class="payform-tinkoff-row" type="hidden" name="language" value="ru"> 
                        <input class="payform-tinkoff-row" type="hidden" name="receipt" value="">

                        <div class="form__left">
                            <div class="form__left-text"><h4>Номер счета получателя: 324251351</h4></div>
                            <input type="hidden" placeholder="3434223578" name="rekvizit" class="form_control clean_input">
                            <input type="text" placeholder="Ваше ФИО" name="name" class="form_control clean_input">
                            <input type="email" placeholder="Ваша почта" name="email" class="form_control clean_input">
                            <input type="text" id="phone" name="phone" placeholder="Введите номер телефона" class="form_control clean_input">
                            <input type="text" id="schet" name="schet" placeholder="Введите номер счета" class="form_control clean_input">
                            <div class="form__left-text"><h4>Введите дату счета</h4></div>

                            <input type="date" id="date" name="date" placeholder="Введите дату" class="form_control clean_input">
                            <div class="select__title">
                                <h3>Выбранная услуга, сессия, курс или вебинар</h3>
                            </div>
                          <div class="arrow_container">
                            <select name="course" id="course" class="custom-select">
                                <option value="standart">Стандарт</option>
                                <option value="optimal">Оптимал</option>
                                <option value="vip">VIP</option>
                                <option value="individual">Индивидуально</option>
                                <option value="changejob">Переквалификация</option>
                                <option value="ki">Оптимизация КИ</option>
                                <option value="becomepartner">Стать партнером</option>
                                <option value="upakovka">Цифровая упаковка</option>
                                <option value="fran">Франшиза</option>
                                <option value="primenenie">Применение</option>
                                <option value="test">Тест</option>
                            </select>
                            <div class="arrow_down"><img src="{% static 'img/Arrow-down.png' %}" alt=""></div>
                        </div>
                        </div>
                        <div class="form__right">
                            <div class="form__price">
                                <input type="text" name="amount" id="amount" placeholder="Введите цену по счету в рублях" class="form_control clean_input">

                            </div>
                            <div class="form__pay">                          
                                <div class="form__pay-left" style="margin-bottom: 10px; margin-top: 20px">
                                    Оплата любой банковской картой
                                </div>

                            </div>
                            <div class="button-input-container">
                                <input class="button-input btn" type="button" onclick="tPayformFunction(this)" value="Подтвердить и перейти к оплате">
                            </div>
                            <div class="form__pay-right">
                                <img src="{% static 'img/tink.svg' %}" alt="" >
                            </div>
                            <div class="form__agreement">
                                Нажимая на кнопку подтвердить, вы соглашаетесь с <a href="https://telegra.ph/Oferta-FS-SHkoly-Kreditnogo-Brokera-08-14">офертой</a>
                            </div>
                            <div class="form__takeback" style="margin-top: 20px;">
                                Вы можете подать обоснованное<a href="https://docs.google.com/document/d/1c8FXSGsIjXH9cJV0SM5ey2Qfrrz4P0lVEk4iBHGCZk4/edit?usp=sharing">Заявление на возврат средств</a>
                            </div>

                        </div>
                    </form>
    
                 </div>
                </div>
            </section>

            <script>
                $(function() {
                    console.log("Script executed");
                    $(".form input[name='phone']").mask("+7 (999) 999-99-99");
                });
                
        </script>
            

{% endblock %}