{% extends 'base.html' %}

{% block content %}

<style>.payform-tinkoff-row{display:block;margin:1%;width:160px;}</style>
<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
<script type="text/javascript">
  function tPayformFunction(target) {
          let form = target.parentElement;
          let name = form.description.value || "Оплата";
          let amount = form.amount.value;
          let email = form.email.value;
          let phone = form.phone.value;

          if (amount && email && phone) {
              form.receipt.value = JSON.stringify({
                  "Email": email,
                  "Phone": phone,
                  "EmailCompany": "mail@mail.com",
                  "Taxation": "patent",
                  "Items": [
                      {
                          "Name": name,
                          "Price": amount + '00',
                          "Quantity": 1.00,
                          "Amount": amount + '00',
                          "PaymentMethod": "full_prepayment",
                          "PaymentObject": "service",
                          "Tax": "none"
                      }
                  ]
              });
              pay(form);
          } else alert("Не все обязательные поля заполнены")
          return false;
      }
</script>
<form name="payform-tinkoff">
  <input class="payform-tinkoff-row" type="hidden" name="terminalkey" value="1690539261013DEMO">
  <input class="payform-tinkoff-row" type="hidden" name="frame" value="true">
  <input class="payform-tinkoff-row" type="hidden" name="language" value="ru"> 
  <input class="payform-tinkoff-row" type="hidden" name="receipt" value="">
    <input class="payform-tinkoff-row" type="text" placeholder="Сумма заказа" name="amount" required>
    <input class="payform-tinkoff-row" type="text" placeholder="ФИО плательщика" name="name">
    <input class="payform-tinkoff-row" type="text" placeholder="E-mail" name="email">
    <input class="payform-tinkoff-row" type="text" placeholder="Номер заказа" name="order">
    <input class="payform-tinkoff-row" type="text" placeholder="Описание заказа" name="description">
    <input class="payform-tinkoff-row" type="text" placeholder="Контактный телефон" name="phone">
    <input class="payform-tinkoff-row" type="button" onclick="tPayformFunction(this)"  value="Оплатить">
  </form>

{% endblock %}